html,
body {
  @include reg;
  font-size: 16px;
}

.container {
  max-width: 2000px;
  width: 100%;
  height: 100%;
  padding: 0 15px;
}

.main {
  &-wrapper {
    height: 100vh;
  }

  &-block {
    display: grid;
    place-content: center;
    height: 100%;
    background-color: #343537;


    &__title {
      font-size: 6rem;
      @include bold;
      stop-color: white;
      text-shadow: 10px 10px 30px #2400ff, -10px -10px 30px #7e2bd9;
      -webkit-text-stroke: 2px #fc78ff;
      -webkit-text-fill-color: transparent;
    }

    &__info {
      display: grid;
      place-content: center;

      .block-info {
        &__item {
          color: white;
          @include bold;

          &>span {
            color: #eb8842;
          }
        }
      }
    }
  }
}